<a href="https://colab.research.google.com/github/MazonSzymon/BasketBall/blob/master/BasketBall.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Import libraries
import pandas as pd
import numpy as np

In [8]:
# Import dataset
url = 'https://raw.githubusercontent.com/MazonSzymon/BasketBall/master/players_stats_by_season_full_details.csv'
orginal_data = pd.read_csv(url)

In [9]:
orginal_data.head()

  League       Season  ...       nationality             high_school
0    NBA  2019 - 2020  ...     United States     Artesia High School
1    NBA  2019 - 2020  ...     United States     Oakland High School
2    NBA  2019 - 2020  ...     United States  Moss Point High School
3    NBA  2019 - 2020  ...  Greece / Nigeria                     NaN
4    NBA  2019 - 2020  ...     United States      Norman High School

[5 rows x 31 columns]

In [10]:
orginal_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53798 entries, 0 to 53797
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   League       53798 non-null  object
 1   Season       53798 non-null  object
 2   Stage        53798 non-null  object
 3   Player       53798 non-null  object
 4   Team         53787 non-null  object
 5   GP           53798 non-null  int64
 6   MIN          53798 non-null  float64
 7   FGM          53798 non-null  int64
 8   FGA          53798 non-null  int64
 9   3PM          53798 non-null  int64
 10  3PA          53798 non-null  int64
 11  FTM          53798 non-null  int64
 12  FTA          53798 non-null  int64
 13  TOV          53798 non-null  int64
 14  PF           53798 non-null  int64
 15  ORB          53798 non-null  int64
 16  DRB          53798 non-null  int64
 17  REB          53798 non-null  int64
 18  AST          53798 non-null  int64
 19  STL          53798 non-null  int64
 20  BLK          53798 non-null  int64
 21  PTS          53798 non-null  int64
 22  birth_year   53479 non-null  float64
 23  birth_month  53479 non-null  object
 24  birth_date   53479 non-null  object
 25  height       53724 non-null  object
 26  height_cm    53724 non-null  float64
 27  weight       49232 non-null  float64
 28  weight_kg    49232 non-null  float64
 29  nationality  53791 non-null  object
 30  high_school  23551 non-null  object
dtypes: float64(5), int64(16), object(10)
memory usage: 12.7+ MB

In [11]:
df = orginal_data.copy()
df.columns = ['League Name','Season Year','Stage',
                        'Player Full Name','Team name', 'Games Played',
                        'Minutes Played', 'Field Goals Made', 'Field Goals Attempts',
                        '3 Points Made', '3 Points Attemps', 'Free Throws Made',
                        'Free Throws Attempts','Turnovers','Personal Fouls',
                        'Offensive Rebounds','Defensive Rebounds','Rebounds',
                        'Assists','Steals','Blocks',
                        'Points','Birth Year','Births Month',
                        'Birth Date', 'Height (Feet)', 'Height (CM)',
                        'Weight (Pounds)','Weight (KG)','Nationality',
                        'High School']
df.head()

  League Name  Season Year  ...       Nationality             High School
0         NBA  2019 - 2020  ...     United States     Artesia High School
1         NBA  2019 - 2020  ...     United States     Oakland High School
2         NBA  2019 - 2020  ...     United States  Moss Point High School
3         NBA  2019 - 2020  ...  Greece / Nigeria                     NaN
4         NBA  2019 - 2020  ...     United States      Norman High School

[5 rows x 31 columns]

In [12]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53798 entries, 0 to 53797
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   League Name           53798 non-null  object
 1   Season Year           53798 non-null  object
 2   Stage                 53798 non-null  object
 3   Player Full Name      53798 non-null  object
 4   Team name             53787 non-null  object
 5   Games Played          53798 non-null  int64
 6   Minutes Played        53798 non-null  float64
 7   Field Goals Made      53798 non-null  int64
 8   Field Goals Attempts  53798 non-null  int64
 9   3 Points Made         53798 non-null  int64
 10  3 Points Attemps      53798 non-null  int64
 11  Free Throws Made      53798 non-null  int64
 12  Free Throws Attempts  53798 non-null  int64
 13  Turnovers             53798 non-null  int64
 14  Personal Fouls        53798 non-null  int64
 15  Offensive Rebounds    53798 non-null  int64
 16  Defensive Rebounds    53798 non-null  int64
 17  Rebounds              53798 non-null  int64
 18  Assists               53798 non-null  int64
 19  Steals                53798 non-null  int64
 20  Blocks                53798 non-null  int64
 21  Points                53798 non-null  int64
 22  Birth Year            53479 non-null  float64
 23  Births Month          53479 non-null  object
 24  Birth Date            53479 non-null  object
 25  Height (Feet)         53724 non-null  object
 26  Height (CM)           53724 non-null  float64
 27  Weight (Pounds)       49232 non-null  float64
 28  Weight (KG)           49232 non-null  float64
 29  Nationality           53791 non-null  object
 30  High School           23551 non-null  object
dtypes: float64(5), int64(16), object(10)
memory usage: 42.0 MB

In [26]:
# Change columns data type
#df['League Name'].value_counts() It should be category type
df['League Name'] = df['League Name'].astype('category')
#df['Season Year'].value_counts() It should be a category type
df['Season Year'] = df['Season Year'].astype('category')
#df['Stage'].value_counts() It should be a category type
df['Stage'] = df['Stage'].astype('category')
# df['Team name'].value_counts() It could be category type
df['Team name'] = df['Team name'].astype('category')
df['Birth Year'] = df['Birth Year'].fillna(0).astype('int')
#df['Nationality'].value_counts() It could be a category type
df['Nationality'] = df['Nationality'].astype('category')

In [28]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53798 entries, 0 to 53797
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   League Name           53798 non-null  category
 1   Season Year           53798 non-null  category
 2   Stage                 53798 non-null  category
 3   Player Full Name      53798 non-null  object
 4   Team name             53787 non-null  category
 5   Games Played          53798 non-null  int64
 6   Minutes Played        53798 non-null  float64
 7   Field Goals Made      53798 non-null  int64
 8   Field Goals Attempts  53798 non-null  int64
 9   3 Points Made         53798 non-null  int64
 10  3 Points Attemps      53798 non-null  int64
 11  Free Throws Made      53798 non-null  int64
 12  Free Throws Attempts  53798 non-null  int64
 13  Turnovers             53798 non-null  int64
 14  Personal Fouls        53798 non-null  int64
 15  Offensive Rebounds    53798 non-null  int64
 16  Defensive Rebounds    53798 non-null  int64
 17  Rebounds              53798 non-null  int64
 18  Assists               53798 non-null  int64
 19  Steals                53798 non-null  int64
 20  Blocks                53798 non-null  int64
 21  Points                53798 non-null  int64
 22  Birth Year            53798 non-null  int64
 23  Births Month          53479 non-null  object
 24  Birth Date            53479 non-null  object
 25  Height (Feet)         53724 non-null  object
 26  Height (CM)           53724 non-null  float64
 27  Weight (Pounds)       49232 non-null  float64
 28  Weight (KG)           49232 non-null  float64
 29  Nationality           53791 non-null  category
 30  High School           23551 non-null  object
dtypes: category(5), float64(4), int64(17), object(5)
memory usage: 25.3 MB

In [29]:
# Delete some not intresting info
df.drop(columns= ['Birth Year','Birth Date','Height (Feet)','Weight (Pounds)'], inplace=True)

In [30]:
df.head()

  League Name  Season Year  ...       Nationality             High School
0         NBA  2019 - 2020  ...     United States     Artesia High School
1         NBA  2019 - 2020  ...     United States     Oakland High School
2         NBA  2019 - 2020  ...     United States  Moss Point High School
3         NBA  2019 - 2020  ...  Greece / Nigeria                     NaN
4         NBA  2019 - 2020  ...     United States      Norman High School

[5 rows x 27 columns]